<nav class="navbar navbar-default navbar-fixed-top" id="navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-title" href="/">NYC TIMES</a>
        </div>
        <ul class="nav navbar">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="">Saved Articles</a></li>
        </ul>
        <a class="btn btn-primary navbar-btn" id="scrapeNew" href="">Scrape New Articles</a>
    </div>  
</nav>
